[Unit]
Description=NOVNC Service
After=network.target

[Service]
User=root
ExecStart=/usr/bin/websockify -v --web=/usr/share/novnc/ 6080 localhost:5901
Restart=always

[Install]
WantedBy=multi-user.target
