[Unit]
Description=NoVNC Service
After=network.target

[Service]
ExecStart=websockify -D --web=/usr/share/novnc/ --cert=novnc.pem 6080 localhost:5901 
Restart=always

[Install]
WantedBy=multi-user.target
