# ssh.service
[Unit]
Description=SSH Service
After=network.target

[Service]
User=root
ExecStart=/usr/sbin/sshd
Restart=always

[Install]
WantedBy=multi-user.target
