[Unit]
Description=Start services
After=systemd-networkd.service

[Service]
ExecStart=/usr/local/bin/start_services.sh
Restart=always

[Install]
WantedBy=multi-user.target

