[Unit]
Description=Start services
After=network.target


[Service]
ExecStart=/usr/bin/bash -c '/usr/local/bin/start.sh'
Restart=always

[Install]
WantedBy=multi-user.target
