# Create a new file called tigervncserver.service
[Unit]
Description=TigerVNC Server
After=network.target

[Service]
User=root
ExecStart=/usr/bin/tigervncserver -xstartup /usr/bin/mate-session -autokill -localhost no :1
Restart=always

[Install]
WantedBy=multi-user.target
