# Create a new file called tigervncserver.service
[Unit]
Description=TigerVNC Server
After=network.target

[Service]
User=root
ExecStart=/usr/bin/tigervncserver -localhost :1 -xstartup /etc/X11/Xfce4/xinitrc

Restart=always

[Install]
WantedBy=multi-user.target
