# Create a new file called tigervncserver.service
[Unit]
Description=TigerVNC Server
After=network.target

[Service]
User=root
ExecStart=/usr/bin/tigervncserver -xstartup /etc/X11/Xfce4/xinitrc -autokill -localhost no :1
Restart=always

[Install]
WantedBy=multi-user.target
