echo "[Unit]
Description=NoVNC Service
#After=systemd-networkd.service

[Service]
User=novnc
ExecStart=/usr/bin/novnc --listen 6080
Restart=always

[Install]
WantedBy=multi-user.target" > /etc/systemd/system/novnc.service
